.filter{
  user-select: none;
}
.filter-item {
 background-color: #fff;
 border: 1px solid #e0e0e0;
 cursor: pointer;
 padding: 8px 10px;
 width: auto;
}
.filter-item span {
  font-size: 14px;
  color: #212327;
  font-weight: 500;
}
.filter1{
  user-select: none;
}
.filter-item1 {
 background-color: #fff;
 border: 1px solid #e0e0e0;
 cursor: pointer;
 padding: 8px 10px;
 width: auto;
 transition: 0.2s;
}
.filter-item1 span {
  font-size: 14px;
  color: #212327;
  font-weight: 500;
        transition: 0.2s;
}
.dropdown-menu-sort{
  width: 342px;
  height: 120px;
}
.dropdown-menu-brand{
  background-color: white;
  boxShadow: 0 0.2rem 0.8rem #00000080;
  display: flex;
  flex-wrap: wrap;
  width: 642px;
  height: 120px;
}
.dropdown-menu-price{
  background-color: white;
  boxShadow: 0 0.2rem 0.8rem #00000080;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 124px;
}
.c-btnbox {
 user-select: none;
 border: 1px solid #e0e0e0;
 border-radius: 4px;
 color: #333;
 margin-bottom: 10px;
 margin-right: 10px;
 padding: 8px 9px;
 cursor: pointer;
 text-decoration: none;
 transition: 0.2s;
 color: #288ad6;
}
.c-btnbox img {
 display: flex;
 width: 92px;
 max-height: 20px;
 object-fit: contain;
}
.c-btnbox:hover {
 border: 1px solid #2f80ed;
 color: #2f80ed;
 transition: 0.2s;
}
.c-btnbox.check {
 border: 1px solid #4a90e2;
}
.c-btnbox span{
 font-size: 13.5px;
 color: black;
 transition: 0.2s;
}
.c-btnbox:hover span{
 color: #2f80ed;
 transition: 0.2s;
}
.filter-item1:hover {
 border: 1px solid #2f80ed;
}
.filter-item1:hover span{
 color: #2f80ed;
}
.filter-item1:focus {
 border: 1px solid #2f80ed;
}
.filter-item1:focus span{
 color: #2f80ed;
}
      .filter-button {
        margin-top: 20px;
        text-align: center;
        display: flex;
      }

      .btn-filter-close,
      .btn-filter-readmore {
        display: inline-block;
        font-size: 14px;
        line-height: 16px;
        padding: 10px 0;
        text-align: center;
        width: 150px;
        position: relative;
      }

      .btn-filter-close {
        background-color:#FDE0E6;
        color: #CC0F35;
  cursor: pointer;
  font-weight: 500;
      }

      .btn-filter-readmore {
        background-color: #288ad6;
        color: #fff;
  cursor: pointer;
  font-weight: 500;
      }
