.txt-danger {
  color: #e5383b;
}
.badge-success {
  background-color: #09a129;
}
.badge-light {
  background-color: #e1e1e1;
}
.badge-light span {
  color: black;
}
.badge-warning {
  background-color: #ffd500;
}
.badge-primary {
  background-color: #2f80ed;
}
.badge-danger {
  background-color: #e5383b;
}

.ant-btn-warning {
  background-color: #ffd500 !important;
  color: black;
  border: 1px solid #ffd500 !important;
  height: 40px;
  font-weight: 500;
}
.ant-btn-warning:hover {
  background-color: #ffe249 !important;
  color: black !important;
  border: 1px solid #ffe249 !important;
  height: 40px;
  font-weight: 500;
}
.ant-btn-danger {
  background-color: #e5383b !important;
  color: white;
  border: 1px solid #e5383b !important;
  height: 40px;
  font-weight: 500;
}
.ant-btn-danger:hover {
  background-color: #ee6055 !important;
  color: white !important;
  border: 1px solid #ee6055 !important;
  height: 40px;
  font-weight: 500;
}
.button-mui {
  border: 1px solid #2f80ed;
  background-color: #2f80ed;
  color: white;
  height: 40px;
  font-weight: 500;
}
.mui-select:hover {
  background-color: #f8f8f8;
  transition: all 0.2s linear;
}
.mui-select {
  cursor: pointer;
  transition: all 0.2s linear;
  border-radius: 10px;
  /* padding: 0 8px 0 8px; */
}
* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.ant-table-thead .ant-table-cell {
  font-weight: 450 !important;
  font-size: 14.5px !important;
}

.ant-table-row {
  font-size: 16px !important;
  height: 70px !important;
}

tr:hover {
  background: #f0f0f0 !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: #f0f0f0 !important;
}

.add-promotion-container {
  width: 100%;
  height: 530px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 5px;
}

.add-promotion-inProduct-container {
  width: 100%;
  height: 530px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.add-promotion-inProduct-detail-container {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 1px;
}

.button-add-promotion {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
  padding-right: 40px;
}
.title-promotion {
  padding-top: 22px;
}

.title-product {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.btn-accept {
  margin-right: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
/* .validate {
  margin-top: 15px;
  margin-bottom: 10px;
} */
.table-container .ant-table-thead .ant-table-cell {
  background-color: #2e80ed;
  color: white;
}
/* .image-container {
  position: relative;
}

.discount-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(247, 28, 28, 0.8);
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
} */
