.disable-product{
  opacity: 0.7;
  pointer-events: none;
}
.ant-checkbox-inner, .ant-checkbox-input {
    transform: scale(1.2)
  }
/* .remove-product-img{ */
/*   display: none; */
/* } */
/* .card-product-img:hover .remove-product-img{ */
/*   display: block; */
/* } */
@media screen {
	/* .wrap-container, .sidebar, .position-relative{ */
	/* 	display: none; */
	/* } */
	.qrcode-none  {
    		visibility: hidden;
	}
  /* #barcode{ */
  /*   display: none; */
  /* } */
  .wrap-printer{
    display: none;
  }
  .wrap-printer-delivery{
    display: none;
  }
}
@media print {
	.qrcode-none  {
    		visibility: hidden;
	}
}
#barcode{
clip-path: inset(0 100% 0 0);
}
.barcode1{
clip-path: inset(0 100% 0 0);
}
.disabled-row {
  opacity: 0.6;
  pointer-events: none;
}
.overlay {
  pointer-events: none; /* Ngăn người dùng tương tác */
}
.text-loading {
  transition: opacity 250ms;
  transition-delay: 250ms;
}
.loading .text-loading {
  opacity: 0;
  transition-delay: 0s;
}
.loading .spinner {
  opacity: 1;
  transition-delay: 250ms;
}
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border-top-color: white;
  opacity: 0;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  width: 23px;
  height: 23px;
  transition: opacity 250ms;
  animation: rotate-spinner 1s linear;
  animation-iteration-count: infinite;
}
@keyframes rotate-spinner {
  100% {
    transform: rotate(360deg);
  }
}

.underline-custom:hover {
        text-decoration: underline;
        text-decoration-color: #2f80ed;
        color: #2f80ed;
    }
.underline-custom {
        color: #2f80ed;
    }
.underline-blue {
        text-decoration: underline;
        text-decoration-color: blue;
        color: blue;
    }
.table-cart .ant-table-tbody > tr.ant-table-row:hover > td {
    background: white !important;
}
.table-cart tr:hover {
    background: white !important;
}
.table-cart .ant-table-thead .ant-table-cell {
  background-color: white;
  /* color: white; */
}
.txt-primary{
  color: #2f80ed;
}
.txt-success{
  color: #09a129;
}
.txt-warning{
  color: #ffd500;
}
.txt-danger{
  color: #e5383b;
}
.txt-price{
  color: #dc1111;
}
.txt-price-discount{
  color: gray;
  text-decoration: line-through;
}
.badge-success{
  background-color: #09a129;
}
.badge-warning{
  background-color: #ffd500;
}
.badge-primary{
  background-color: #2f80ed;
}
.badge-danger{
  background-color: #e5383b;
}

.badge-success span{
  /* font-weight: 450; */
}
.badge-warning span{
  /* font-weight: 450; */
}
.badge-primary span{
  /* font-weight: 450; */
}
.badge-danger span{
  /* font-weight: 450; */
}
div.rs-picker-menu{
  /* margin-top: 1px; */
  }
.auto-complete:hover {
  background-color: lightgray;
  border: 1px solid black;
}
.disable-hover:hover {
  background-color: inherit !important;
  color: inherit !important; 
  box-shadow: none !important; 
  cursor: pointer !important;}
.disable-hover {
  pointer-events: none !important;  cursor: pointer !important;   user-select: none !important;}
.disable-hover1 {
  pointer-events: none !important;
  cursor: pointer !important;   user-select: none !important;}
.disable-hover1:hover {
  box-shadow: none !important; 
  background-color: inherit !important;
  color: inherit !important; 
  cursor: pointer !important;}
.open-click{
  pointer-events: auto;
  cursor: pointer !important;
}
.rs-input-group .rs-input{
 text-indent: 44px;
  font-size: 15.5px;
}
.rs-auto-complete{
  height: 40px;
}
.rs-auto-complete.active {
}
.rs-input-group.active .rs-input{
  cursor: pointer;
  /* user-select: none; */
  caret-color: transparent;
  /* pointer-events: none; */
  /* text-decoration: underline; */
  /* color: #2f80ed; */
}
.rs-auto-complete .rs-input::placeholder {
}
.ant-btn-danger-light {
  background-color: white !important;
  color: #e5383b;
  border: 1px solid #e5383b !important;
  height: 40px;
  font-weight: 500;
}
.ant-btn-light {
  background-color: white !important;
  color: #2f80ed;
  border: 1px solid #2f80ed !important;
  height: 40px;
  font-weight: 500;
}
/* .ant-btn-light:hover { */
/*   background-color: #ffe249 !important; */
/*   color: black !important; */
/*   border: 1px solid #ffe249 !important; */
/*   height: 40px; */
/*   font-weight: 500; */
/* } */
.ant-btn-warning {
  background-color: #ffd500 !important;
  color: black;
  border: 1px solid #ffd500 !important;
  height: 40px;
  font-weight: 500;
}
.ant-btn-warning:hover {
  background-color: #ffe249 !important;
  color: black !important;
  border: 1px solid #ffe249 !important;
  height: 40px;
  font-weight: 500;
}
.ant-btn-danger {
  background-color: #e5383b !important;
  color: white;
  border: 1px solid #e5383b !important;
  height: 40px;
  font-weight: 500;
}
.ant-btn-danger:hover {
    background-color: #ee6055 !important;
    color: white !important;
  border: 1px solid #ee6055 !important;
  height: 40px;
  font-weight: 500;
}
.button-mui{
  border: 1px solid white;
  background-color: #2f80ed;
  color: white;
  height: 40px;
  font-weight: 500;
}
.mui-select:hover{
  background-color: #f8f8f8;
  transition: all 0.2s linear;
}
.mui-select{
  cursor: pointer;
  transition: all 0.2s linear;
  border-radius: 10px;
  padding: 0 10px 0 10px;
}
*{
font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.MuiTab-root:hover {
  background-color: #EAEEF6;
}.MuiTab-root {
  outline: none !important;
}
.MuiTab-root.Mui-selected{
  background-color: #EAEEF6;
  color: #000000;
  font-weight: 500;
}
.MuiTab-root.Mui-selected .active{
  /* font-weight: 450; */
}
.button-container {
    display: flex;
    justify-content: center;
}

.button-container > .button-child {
    margin: 0 3.5px;
}

.table-container .ant-table-thead .ant-table-cell {
  background-color: #F4F5FA !important;
  color: black !important;
  /* color: white !important; */
}
.table-container {
    /* margin: 0 -24px;  */
}

.wrap-total-money {
    /* box-shadow: 0 0.1rem 0.4rem #00000080; */
}

.wrap-order-summary {
    box-shadow: 0 0.1rem 0.4rem #00000060;
    height: auto;
    background-color: #ffffff;
}

.wrap-timeline {
    box-shadow: 0 0.1rem 0.4rem #00000060;
    height: 375px;
    background-color: #ffffff;
}

.wrap-payment {
    box-shadow: 0 0.1rem 0.4rem #00000060;
    height: auto;
    /* height: 300px; */
    background-color: #ffffff;
}

.wrap-order-refund {
    box-shadow: 0 0.1rem 0.4rem #00000060;
    background-color: #ffffff;
  height: auto;
}
.wrap-order-detail {
    box-shadow: 0 0.1rem 0.4rem #00000060;
    background-color: #ffffff;
}
.scroll-imei{
  padding-left: 3px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 360px;
}
.scroll-imei::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll-imei::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 5px;
}

.scroll-imei::-webkit-scrollbar-track {
  margin-left: 20px;
}

.scroll-imei::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

.scroll-imei::-webkit-scrollbar {
    /* display: none; */
    width: 6.5px;
    display: block;
}

.scroll-imei:hover::-webkit-scrollbar {
    width: 6.5px;
}

.scroll-color{
  padding-left: 3px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 200px;
}
.scroll-color::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll-color::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 5px;
}

.scroll-color::-webkit-scrollbar-track {
    margin-top: 4px;
  margin-left: 20px;
}

.scroll-color::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

.scroll-color::-webkit-scrollbar {
    /* display: none; */
    width: 6.5px;
    display: block;
}

.scroll-color:hover::-webkit-scrollbar {
    width: 6.5px;
}

.scroll-container1 {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 365px;
}

.scroll-container1::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll-container1::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 2px;
}

.scroll-container1::-webkit-scrollbar-track {
    margin-top: 56.5px;
}

.scroll-container1::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

.scroll-container1::-webkit-scrollbar {
    display: none;
    width: 7px;
    display: block;
}

.scroll-container1:hover::-webkit-scrollbar {
    width: 7px;
}

.scroll-container {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 280px;
    white-space: nowrap; /* Chỉ định không xuống dòng */
    background-color: #ffffff;
}

.scroll-container:hover::-webkit-scrollbar {
    height: 8px;
    display: inline-block;
}

.time-line {
    display: inline-block;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.scroll-container::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 2px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #d9d9d9;
}

.scroll-container2 {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 685px;
}

/* .scroll-container2:hover::-webkit-scrollbar { */
/*     height: 8px; */
/* } */

.scroll-container2::-webkit-scrollbar {
    display: none;
}

.scroll-container2::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

.scroll-container2::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 2px;
}

.scroll-container2::-webkit-scrollbar-thumb:hover {
    background-color: #d9d9d9;
}

.scroll-container3 {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 620px;
}

.scroll-container3::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll-container3::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 5px;
}

.scroll-container3::-webkit-scrollbar-track {
    margin-top: 8px;
}

.scroll-container3::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

.scroll-container3::-webkit-scrollbar {
    /* display: none; */
    width: 6.5px;
    display: block;
}

.scroll-container3:hover::-webkit-scrollbar {
    width: 6.5px;
}

.MuiOutlinedInput-notchedOutline {
    border-radius: 10px !important;
}

.custom .MuiOutlinedInput-notchedOutline {
    border-radius: 7px !important;
}


.ant-input::placeholder {
    color: #999;
}

.ant-table-thead .ant-table-cell {
  font-weight: 450 !important;
  font-size: 14.5px;
}

.ant-table-row {
    font-size: 16px !important;
    height: 80px !important;
}

tr:hover {
    background: #f0f0f0 !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
    background: #f0f0f0 !important;
}

.button-back {
    height: 2.3rem;
}

.item-img {
    object-fit: fill;
}

/* .MuiOutlinedInput-notchedOutline { */
/*   border: none !important; */
/* } */
.grid-item {
    cursor: pointer;
    user-select: none;
    transition: all ease-in-out 0.25s;
}

.grid-item:hover {
    box-shadow: 0 0.2rem 0.6rem #00000080;
    transition: all ease-in-out 0.25s;
}

.grid-container {
    user-select: none;
}

.cart-item-container {
    overflow-y: scroll;
    height: 265px;
    overflow-x: hidden;
    user-select: none;
}

.cart-item-container::-webkit-scrollbar {
    display: none;
}

.grid-inside {
    user-select: none;
    overflow-y: scroll;
    height: 592px;
    overflow-x: hidden;
}

.grid-inside::-webkit-scrollbar {
    display: none;
}

.grid-inside::-webkit-scrollbar {
    width: 8px;
}

.grid-inside::-webkit-scrollbar-track {
    margin-top: 14px;
}

.grid-inside::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #BFBFBF;
}

.custom-number-input {
    width: 5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.counter-input-group {
    width: 180%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 25px;
    height: 25px;
    display: inline-block;
    padding: 0.5rem;
    background-color: #f7f7f7;
    color: white;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.button svg {
    width: 2rem;
    height: 2rem;
    pointer-events: none;
}

.button:hover,
.button:focus {
    background-color: #f0f0f0;
}

#custom-input-number {
    text-align: center;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 800;
    color: #2d2d2d;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

input[type="number"]::-moz-inner-spin-button,
input[type="number"]::-moz-outer-spin-button {
    -moz-appearance: none;
    appearance: none;
}

input[type="number"]::-ms-inner-spin-button,
input[type="number"]::-ms-outer-spin-button {
    -ms-appearance: none;
    appearance: none;
}

.number-input1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 93px;
    height: 30px;
    border: 1px solid #ddd;
    overflow: hidden;
  border-radius: 5px;
}

.number-input1 button {
    width: 60px;
    height: 110%;
    background-color: white;
    /* color: #555; */
    border: none;
    cursor: pointer;
    font-size: 8px;
    font-family: "Open Sans", sans-serif;
}

.number-input1 button:hover div {
    background-color: #e6e6e6;
  border-radius: 50px;
  transition: 0.2s linear;
}
.number-input1 button div{
  transition: 0.2s linear;
}

.number-input1 input[type=number] {
    width: 100%;
    height: 80%;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 17.5px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
  border-bottom: 2px solid grey;
}


.number-input2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90px;
    height: 32px;
    border: 1px solid #ddd;
    overflow: hidden;
  border-radius: 5px;
}

.number-input2 button {
    width: 60px;
    height: 110%;
    background-color: white;
    /* color: #444; */
    border: none;
    cursor: pointer;
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
}
.wrap-minus{
  /* margin-top: 2px; */
  /* height: 25px; */
}
.wrap-plus{
}

.number-input2 button span{
  /* font-size: 19px; */
}

.number-input2 button:hover div{
    background-color: #eee;
  border-radius: 50px;
  transition: 0.2s linear;
}
.number-input2 button div{
  transition: 0.2s linear;
}

/* .number-input2 button:active { */
/*     background-color: #e1e1e1; */
/* } */

.number-input2 input[type=number] {
    width: 100%;
    height: 80%;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
  border-bottom: 2px solid grey;
}


/* .__add-cart0:hover { */
/*   color: white; */
/*   background-color: #333; */
/* } */
.__add-cart1:hover {
  color: white;
  background-color: #333;
}
.__add-cart1 {
    outline: none;
    border: 1px solid #212327;
    color: white;
    background: #212327;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 250px;
    height: 56px;
}

.__add-cart0 {
    outline: none;
    color: white;
    /* background: #212327; */
    /* background: #2f80ed; */
  border-radius: 15px;
    border: 1px solid white;
    cursor: pointer;
    /* transition: all 0.3s ease; */
    width: 95%;
    height: 65px;

}

.filter {
    user-select: none;
}

.filter-item {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    padding: 8px 10px;
    width: auto;
}

.filter-item span {
    font-size: 14px;
    color: #212327;
    font-weight: 500;
}

.filter1 {
    user-select: none;
}

.filter-item1 {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    padding: 8px 10px;
    width: auto;
    transition: 0.2s;
}

.filter-item1 span {
    font-size: 14px;
    color: #212327;
    font-weight: 500;
    transition: 0.2s;
}

.dropdown-menu-sort {
    width: 342px;
    height: 120px;
}

.dropdown-menu0 {
    display: flex;
    flex-wrap: wrap;
    width: 642px;
    height: 120px;
}

.dropdown-menu1 {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 124px;
}

.dropdown-menu2 {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 80px;
}

.dropdown-menu3 {
    display: flex;
}

.dropdown-menu4 {
    display: flex;
    flex-wrap: wrap;
    width: 325px;
    height: 125px;
}

.dropdown-menu5 {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 125px;
}

.c-btnbox {
    user-select: none;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #333;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 8px 9px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
    color: #288ad6;
}

.c-btnbox img {
    display: flex;
    width: 92px;
    max-height: 20px;
    object-fit: contain;
}

.c-btnbox:hover {
    border: 1px solid #2f80ed;
    color: #2f80ed;
    transition: 0.2s;
}

.c-btnbox.check {
    border: 1px solid #4a90e2;
}

.c-btnbox span {
    font-size: 13.5px;
    color: black;
    transition: 0.2s;
}

.c-btnbox:hover span {
    color: #2f80ed;
    transition: 0.2s;
}

.filter-item1:hover {
    border: 1px solid #2f80ed;
}

.filter-item1:hover span {
    color: #2f80ed;
}

.filter-item1:focus {
    border: 1px solid #2f80ed;
}

.filter-item1:focus span {
    color: #2f80ed;
}

.filter-button {
    margin-top: 20px;
    text-align: center;
    display: flex;
}

.btn-filter-close,
.btn-filter-readmore {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 0;
    text-align: center;
    width: 150px;
    position: relative;
}

.btn-filter-close {
    background-color: #FDE0E6;
    color: #CC0F35;
    cursor: pointer;
    font-weight: 500;
}

.table-pdf {
	table-layout: auto;
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	margin: 15px auto;
}

.table-pdf th,
.table-pdf td {
	border: 1px solid black;
	vertical-align: top;
  text-align: center;
}

.col-stt {
	width: 8%;
}
.col-name{
  width: 35%;
}

.col-quantity{
	width: 10%;
}
.col-price {
	width: 20%;
}
.col-imei {
	width: 25%;
}

.table-pdf th {
	background-color: white;
	color: black;
}


.view-order-state {
    outline: none;
    color: white;
    background: #212327;
    background: #2f80ed;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    /* transition: all 0.3s ease; */
    width: 30%;
    height: 55px;

}

.table-info-order {
	table-layout: auto;
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	/* margin: 15px auto; */
}

.table-info-order th,
.table-info-order td {
	border: 1px solid #d1d1d1;
	vertical-align: top;
}

.table-info-order th {
	background-color: #e1e1e1;
	color: black;
}
