.button-container {
  display: flex;
  justify-content: center;
}
.button-container > .button-child {
  margin: 0 3.5px;
}
.table-container {
  /* margin: 0 -24px;  */
}
.wrap-total-money{
  /* box-shadow: 0 0.1rem 0.4rem #00000080; */
}
.wrap-order-summary{
  box-shadow: 0 0.1rem 0.4rem #00000080;
  height: auto;
  background-color: #ffffff;
}
.wrap-timeline{
  box-shadow: 0 0.1rem 0.4rem #00000080;
  height: 375px;
  background-color: #ffffff;
}
.wrap-payment{
  box-shadow: 0 0.1rem 0.4rem #00000080;
  height: auto;
  /* height: 300px; */
  background-color: #ffffff;
}
.wrap-order-detail{
  box-shadow: 0 0.1rem 0.4rem #00000080;
  height: 365px;
  background-color: #ffffff;
}
.scroll-container1 {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 245px;
}
.scroll-container1::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
.scroll-container1::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 2px;
}
.scroll-container1::-webkit-scrollbar-track {
  margin-top: 53.5px;
}
.scroll-container1::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
.scroll-container1::-webkit-scrollbar {
  display: none;
  width: 8px;
    display: block;
}
.scroll-container1:hover::-webkit-scrollbar {
  width: 8px;
}
.scroll-container {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 280px;
  white-space: nowrap; /* Chỉ định không xuống dòng */
  background-color: #ffffff;
}
.scroll-container:hover::-webkit-scrollbar {
  height: 8px;
  display: inline-block;
}
.time-line{
 display: inline-block; /* Cho phép phần tử con co dãn tự động */
}
.scroll-container::-webkit-scrollbar {
  display: none;
}
.scroll-container::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
.scroll-container::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 2px;
}
.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #d9d9d9;
}
.MuiOutlinedInput-notchedOutline {
  border-radius: 10px !important;
}
.ant-input::placeholder {
  color: #999;
}
.ant-table-row {
  font-size: 15.5px;
  height: 85px;
}
tr:hover{
    background: #f0f0f0 !important;
}
.ant-table-tbody > tr.ant-table-row:hover > td {
    background: #f0f0f0 !important;
}
.button-back{
  height: 2.3rem;
}
.item-img{
  object-fit: fill;
}
/* .MuiOutlinedInput-notchedOutline { */
/*   border: none !important; */
/* } */
.grid-item{
  cursor: pointer;
  user-select: none;
  transition: all ease-in-out 0.25s;
}
.grid-item:hover{
  box-shadow: 0 0.2rem 0.6rem #00000080;
  transition: all ease-in-out 0.25s;
}
.grid-container{
  user-select: none;
}
.cart-item-container{
 overflow-y: scroll;
 height: 265px; 
 overflow-x: hidden;
  user-select: none;
}
.cart-item-container::-webkit-scrollbar {
  display: none;
}
.grid-inside{
 user-select: none;
 overflow-y: scroll;
 height: 592px; 
 overflow-x: hidden;
}
.grid-inside::-webkit-scrollbar {
  display: none;
}
.grid-inside::-webkit-scrollbar {
 width: 8px;
}
.grid-inside::-webkit-scrollbar-track {
  margin-top: 14px;
}
.grid-inside::-webkit-scrollbar-thumb {
 border-radius: 7px;
 background-color: #BFBFBF;
}
.custom-number-input {
	width: 5rem;
	padding: 1rem;
	border-radius: 1rem;
}
.counter-input-group {
	width: 180%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button {
	width: 25px;
	height: 25px;
	display: inline-block;
	padding: 0.5rem;
	background-color: #f7f7f7;
  color: white;
	border-radius: 0.25rem;
	border: none;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.5s;
}
.button svg {
	width: 2rem;
	height: 2rem;
	pointer-events: none;
}
.button:hover,
.button:focus {
	background-color: #f0f0f0;
}
#custom-input-number {
	text-align: center;
	width: 100%;
	border: none;
	outline: none;
	font-size: 1rem;
	font-weight: 800;
	color: #2d2d2d;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
 {
	-webkit-appearance: none;
	appearance: none;
}
input[type="number"]::-moz-inner-spin-button,
input[type="number"]::-moz-outer-spin-button {
	-moz-appearance: none;
	appearance: none;
}
input[type="number"]::-ms-inner-spin-button,
input[type="number"]::-ms-outer-spin-button {
	-ms-appearance: none;
	appearance: none;
}
.__add-cart1 {
    outline: none;
    color: #212327;
    border: 1px solid #212327;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
  height: 60px;
    
}
.__add-cart0 {
    outline: none;
    color: white;
    background: #212327;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
  height: 60px;
    
}
.filter{
  user-select: none;
}
.filter-item {
 background-color: #fff;
 border: 1px solid #e0e0e0;
 cursor: pointer;
 padding: 8px 10px;
 width: auto;
}
.filter-item span {
  font-size: 14px;
  color: #212327;
  font-weight: 500;
}
.filter1{
  user-select: none;
}
.filter-item1 {
 background-color: #fff;
 border: 1px solid #e0e0e0;
 cursor: pointer;
 padding: 8px 10px;
 width: auto;
 transition: 0.2s;
}
.filter-item1 span {
  font-size: 14px;
  color: #212327;
  font-weight: 500;
        transition: 0.2s;
}
.dropdown-menu-sort{
  width: 342px;
  height: 120px;
}
.dropdown-menu0{
  display: flex;
  flex-wrap: wrap;
  width: 642px;
  height: 120px;
}
.dropdown-menu1{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 124px;
}
.dropdown-menu2{
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 80px;
}
.dropdown-menu3{
  display: flex;
}
.dropdown-menu4{
  display: flex;
  flex-wrap: wrap;
  width: 325px;
  height: 125px;
}
.dropdown-menu5{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 125px;
}
      .c-btnbox {
  user-select: none;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        color: #333;
        margin-bottom: 10px;
        margin-right: 10px;
        padding: 8px 9px;
  cursor: pointer;
          text-decoration: none;
        transition: 0.2s;
        color: #288ad6;
      }
      .c-btnbox img {
        display: flex;
        width: 92px;
        max-height: 20px;
        object-fit: contain;
      }
      .c-btnbox:hover {
        border: 1px solid #2f80ed;
        color: #2f80ed;
        transition: 0.2s;
      }
      .c-btnbox.check {
        border: 1px solid #4a90e2;
      }
.c-btnbox span{
  font-size: 13.5px;
  color: black;
        transition: 0.2s;
}
.c-btnbox:hover span{
  color: #2f80ed;
        transition: 0.2s;
}
      .filter-item1:hover {
        border: 1px solid #2f80ed;
      }
      .filter-item1:hover span{
        color: #2f80ed;
      }
      .filter-item1:focus {
        border: 1px solid #2f80ed;
      }
      .filter-item1:focus span{
        color: #2f80ed;
      }

      .filter-button {
        margin-top: 20px;
        text-align: center;
        display: flex;
      }

      .btn-filter-close,
      .btn-filter-readmore {
        display: inline-block;
        font-size: 14px;
        line-height: 16px;
        padding: 10px 0;
        text-align: center;
        width: 150px;
        position: relative;
      }

      .btn-filter-close {
        background-color:#FDE0E6;
        color: #CC0F35;
  cursor: pointer;
  font-weight: 500;
      }

      .btn-filter-readmore {
        background-color: #288ad6;
        color: #fff;
  cursor: pointer;
  font-weight: 500;
      }
