.add-voucher-container {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-top: 10px;
}

.input-container {
  // text-align: center;
  // display: flex; /* Sử dụng flexbox để các phần tử nằm trên cùng một dòng */
  gap: 20px; /* Khoảng cách giữa các ô input */
  margin-bottom: 15px;
  // padding-left: 25px;
}
// .can-giua-form {
//   text-align: center;
// }
.row-input {
  margin-bottom: 30px;
  display: flex;
  // justify-content: center;
  // text-align: center;
}

.btn-accept {
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.validate-value {
  margin-top: 5px; /* Khoảng cách từ input */
  font-size: 14px;
  color: red;
  margin-left: 40px;
  text-align: start;
  display: block;
}
.validate {
  margin-top: 5px; /* Khoảng cách từ input */
  font-size: 14px;
  color: red;
  margin-left: 200px;
  text-align: start;
}
.validate-date {
  margin-top: 5px; /* Khoảng cách từ input */
  font-size: 14px;
  color: red;
  display: block;
}
.select-value {
  width: 94%;
  padding-left: 205px;
  display: flex;
  justify-content: flex-start;
}
