.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}
<<<<<<< HEAD

=======
/* Add this CSS to your component's CSS file */
.address-form.error {
  border-color: #ff0000;
}

.address-form .error-select .ant-select-selector {
  border-color: #ff0000;
}
>>>>>>> beephone_hoa
