.custom-button {
  background-color: #4840e5;
  color: #ffffff;
  margin-right: 10px;
  margin-bottom: 10px;
}
.custom-button1 {
  background-color: #e5407f;
  color: #ffffff;
  margin-right: 10px;
  margin-bottom: 10px;
}
